{% block body %}
    <section class="_wb-ospace_mob">
        {{ include('aff_websiteadmin/formule/form/mobile/deleteform.html.twig') }}
    </section>

{% endblock %}
{% use "js/js_website.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}



