{% block body %}
    <section class="_wb-ospace_mob">
        {{ include('aff_websiteadmin/formule/form/mobile/duplicateform.html.twig') }}
    </section>
{% endblock %}
{% use "js/js_wb.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}



