<div class="head-wb-admin_mob">
    <div class="web-inf_mob">
        <div class="zone-inf-msg_mob">
            <div class="op-msg">
                <h1>{{ website.namewebsite }}</h1>
                <h2>{{ website.template.description }}</h2>
            </div>
        </div>
    </div>
</div>
<div class="af_flx-W fx-c tglaff" id="tgl_7" style="display: none">
    {{ include('aff_customer/menu/'~agent~'/websitemenu.html.twig') }}
</div>