{% block body %}
<section class="_pg-account_mob">
    {{ include('aff_menu/menus/mobile/titleaccount_mob.html.twig') }}
    <div class="space-inner-account">
        <div class="af_flx-C-W fx-c">
        {{ include('aff_customer/website/view/mobile/boardsOfDispatch.html.twig') }}
    </section>
{%  endblock body %}
{% use "js/js_customer.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}