{% block body %}
<section class="_wb-ospace_mob">
  {{ include('aff_customer/publications/view/'~agent~'/boardpost_mob.html.twig') }}
</section>
{%  endblock body %}
{% use "js/js_customer.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}