{% block body %}
    <div class="_wb">
        <div class="container-bo_v5">
            {{ include('aff_websiteadmin/menu/'~agent~'/parameter_menu.html.twig') }}
            <section class="_wb-ospace">

                <div class="head-wb-space">
                    {#
                    {{ include('elements/wb-zoneinfo.html.twig') }}
                    #}
                </div>

        {{ include('aff_websiteadmin/parameters/view/parameter.html.twig') }}
        </section>
    </div>
</div>

{% endblock %}
{% use "js/js_edit_website.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}