{%  block content %}
<section class="vaiss-lib">
    <div class="_pg-act">
       {{ include('aff_master/website/view/cube-websites.html.twig') }}
    </div>
</section>
{% endblock content %}
{% use "js/js_customer.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

