<div class="link-items">
  {#   <a href="" class=""><i class="fa fa-group"></i></a> #}
    <a href="{{ path('board', {'slugcity': website.locality.slugcity ,'slug': website.slug }) }}" class=""><i class="fa fa-book"></i>voir le panneau</a>
{#  <div class="bulletoggle" aria-label="info website" data-affitgl="tgl_info"><i class="fa fa-info-circle"></i></div> #}
</div>
