{# menu public version mobile #}
<div class="_fx-abs fx-c _bg-op-trs _sz6 _bdrad glob_affi_mb _co-B">
    <div class="_ext-p shtf">
        <a href="{{ path('cargo_public') }}" class="_i-Wbs">{{ include('svg/50x50_AfCHG_blanc.html.twig') }}</a>
    </div>
</div>



