{% block body %}
<section class="_wb-ospace_mob">
{{ include('aff_websiteadmin/post/form/mobile/deleteform.html.twig') }}
</section>
{% endblock %}
{% use "js/js-post.html.twig" %}
{% block javascripts %}
{{ parent() }}
{% endblock %}



