<nav class="account bg_aff" id="popuser">
    <div class="inner-account">

        <div class="inner-stap1">
            <div class="mycpt">
                <div class="inner-ft" >
                    <a class="pop-logout" href="{{path('app_login') }}">
                        <i class="fa fa-power-off" aria-hidden="true"></i>
                        <div class="connect inerlink"> Connexion</div>
                    </a>
                </div>
                <div class="pop-empty"></div>
            </div>
        </div>


        <div class="inner-stap2">
            <div class="modules">
                <div class="pop-wb">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                    <div class="inerlink" >J'ouvre un compte</div>
                </div>
                <a class="pop-mn _cl-cl" href="{{path('new_identify')}}">
                    <i class="fa fa-map-pin" aria-hidden="true"></i>
                    <div class="connect inerlink">Pour ouvrir un panneau local</div>
                </a>
                <a class="pop-mn _cl-cl" href="{{path('new_identify')}}">
                    <i class="fa fa-map-pin" aria-hidden="true"></i>
                    <div class="connect inerlink">Pour afficher, échanger</div>
                </a>
            </div>
        </div>

        <div class="inner-stap3">
                <a class="start-bd" href="{{ path('cargo_public')}}">
                    <h5>AffiChanGe</h5>
                </a>
        </div>
    </div>
</nav>

