<section class="pageinfo-body">
    <div class="borderblur_bb"></div>
    <div class="filterblur_pg"></div>
    <h1>AffiChange, un web local</h1>
    <article class="article_info">
            <h3 class="the_question">Le choix de la proximité</h3>
            <h5>Son champ d'action, c'est le lieu de vie, votre lieu de vie où celui où vous vous trouvez à un moment M.</h5>
            <p>Parce qu'il nous semble plus logique de savoir avant d'acheter un reveil de l'autre côté du monde, si quelqu'un n'a pas eu la bonne idée d'en fabirquer pres de chez soi.
                Parce qu'il est profitable pour tous de valoriser son tissu locale. Parce que la proximité, les circuits courts, garantissent la survie de notre environnement et la seule solution pérènne pour faire face à tous les cahos de notre hsitoire.
                AffiChange c'est la version locale de l'internet, par et pour ceux qui y vivent.<p>
            <div class="space-bb">

            </div>
            <h3 class="the_question">Si en plus on peut éviter le tracking et les intrusions dans notre vie privée, ne nous en privons pas !</h3>
            <p>Assez des publicités intrusives, des cookies inquisiteur ? Nous aussi. C'est pourquoi AffiChange est avant tout un espace de proposition.
                La consulatation des affiches est libre comme leur publication et nous n'avons pas mis volontairement un service de proposition et de partenariat vers des centreale d'annonce..</p>
            <hr>
            <h3 class="the_question">Des panneaux d'affichage pour tous, par localité.</h3>
            <h5>La localité est l'entré de base sur le site.</h5>
            <p>Choisissez une localité et parcourez les affiches qui y sont publiées. Vous aussi, une envie de promouvoir votre information mettre une annonce, créez votre panneau sur votre localité et affichez-vous.</p>


            <h3 class="the_question">Votre tranquillité</h3>
            <p> Pas besoins de communiquer vos numero de tel, adresse email, votre panneau est vissible, mais votre identitée ne l'est pas directement. AffiChange vous offre un espace de communication personnel pour naviguer et publier en toute tranquillité.</p>

            <h3>Affichange c'est gratuit ? </h3>
            <p>oui c'est gratuit, mais pas complètement.</p>
            <p>L'utilisation et la creation des panneaux d'affichange sont libre et gratuit.Oui mais nous avons aussi besoins de ressources pour faire fonctionner tout cela et assurer la pérenité de services.
                Alors il y a des modules payant. </p>
                <h5>Lesquels ? </h5>
            <p>Comme par exemple le mlodule de réservation. Les bulles "promo" aussi ou encore si vous souhaitez mettre un agenda d'évenement périodique, vous paierez également ce service. En payant
                cela assure que vous n'oublierez de mettre à jour vos informations (quand on paie, on est plus vigileant)</p>
            <p>exemple de tarif :
                <br> une affiche promo 8 jours : à partir de 0.20€ par consultation*.
                <br>Un formulaire de réservation permanent, c'est 0,30€ par réservation.
                * consultation facturé par lecteur
            </p>

    <h1>Vous êtes ok ?</h1>
    <p>vous pouvez en savoir plus sur nos cgu</p>
    <h3> et bien il ne vous reste plus qu'a vous inscrire et d'ouvrir un panneau sur votre localité, bon "affichange"</h3>
    {{ include('public/page/toaffiche/pop/go.html.twig') }}
    </article>
</section>


