{# menu admin version mobile #}
{{ include('elements/zone-header-wbadmin-mod.html.twig') }}
<div class="nav_see_mob">
    <div class="nav_bar_mob">
        <div class="e-tool bulletoggle" title="menu" data-affitgl="tgl_7"><i class="fa fa-bars" aria-hidden="true"></i></div>
    </div>
    <div class="menu-admin_mb">
        {{ include('aff_menu/pop/'~agent~'/profilnav.html.twig') }}
    </div>
</div>
{{ include('aff_menu/pop/'~agent~'/bandospace.html.twig') }}


