{% block body %}
    <section class="_wb-ospace_mob">
        {{ include('aff_websiteadmin/shop/form/offreedit.html.twig') }}
    </section>
{% endblock %}
{% use "js/js-offre.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}















