<nav class="account bg_aff" id="popuser">
    <div class="inner-account">

        <div class="inner-stap1">
            <div class="mycpt">
                <a class="pop-wb" href="{{path('profil_dispatch')}}">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                    <div class="inerlink" >Mon compte</div>
                </a>
                <div class="pop-empty"></div>
            </div>

            <div class="inner-ft" >
                <a class="pop-logout" href="{{path('app_logout') }}">
                    <i class="fa fa-power-off" aria-hidden="true"></i>
                    <div class="connect inerlink"> Deconnexion</div>
                </a>
            </div>
        </div>
    </div>
</nav>







