{% for message in app.flashes('newmsg') %}
    <div class="_fx-Tflhs">
        <div class="comd-flhs">
            <h5>info !</h5>
            <div class="_rlm-a">
                <div class="msg-flhs">{{ message }}.</div>
            </div>
        </div>
    </div>
{% endfor %}

<aside class="wp-info">
    <div class="w_inf_board bgrop_v5">
        <div class="goaff_v6"><h3>Merci d'avoir utilisé ce service</h3></div>
        <div class="iner-col_v6">
                <div class="bul-go_s bull-sz bull_flx">
                    <a href="{{ path('identify') }}" class="arw-tx"><i class="fa fa-users"></i>Inscrivez-vous</a>
                </div>
            <hr>
                <h3>pour retrouvez le fil de vos conversations, disposez d'un lien privé avec<br><strong>{{ website.namewebsite }}</strong></h3>
            </div>
        </div>
    </div>
</aside>
