{% extends 'backofficeaffi.html.twig' %}

{%  block content %}
<div class="bord-flex-chg-bkoff ii-comd">
    <div class="act-list">
        {{ include('aff_master/customer/view/majliste.html.twig') }}
    </div>
</div>
{% endblock content %}


