<div class="flrow">
    <div class="O_list-cube">
        {{ form_start(form, {'attr': {'class': 'form-elastic'}}) }}
        {{form_rest(form)}}
        <div class="gp-form-row-col2">
            <div class="iner-bt">
                <button type="submit"  class="btn-send">Enregistrez</button>
            </div>
        </div>
        {{form_end(form)}}
    </div>
</div>