<div class="_fx-C fx-c w100">
    <div class="separator"></div>
<h2>Sponsorisez des panneaux</h2>
    <p>Soutenez une équipe, un projet, développez des actions communes avec d'autres panneaux</p>
    <x-partner class="w100" name="no" board="{{board.id}}"></x-partner>
</div>