<footer class="foot_affi_desk_v6">
    <h2>panneau d'affichage public par localité</h2>
    <div class="lit-foot">Sport - Culture - Loisirs - Commerce - Vie pratique</div>
    <p class="affi-foot">affichange.com © 2022 - tous droits réservés</p>
</footer>