<div class="head-bull_mob">
    <a href="{{ path('show_website',{'city':website.locality.slugcity,'nameboard':website.slug}) }}" class="scroll_top bulletoggle b_mob" data-affitgl="tgl_0"><i class="fa fa-calendar" aria-hidden="true"></i> Actualité</a>
    <a  href="{{ path('board', {'slugcity': website.locality.slugcity ,'slug': website.slug }) }}" class="scroll_top bulletoggle b_mob" data-affitgl="tgl_1"><i class="fa fa-th"></i> le panneau</a>
</div>
