<div class="_scrollflow _mb" id="typeform" data-type="ctc">
    <div class="content-form-post">
        <div class="tglaff w100" id="tgl_0">
            <div class="list_publi">
                 {{ include('backoffice/customer/privateconvers/mobile/view/listmsgs.html.twig') }}
            </div>
        </div>
        <div class="tglaff w100" id="tgl_1" style="display: none">
            <div class="list_publi">
                <div class="fx-content">
                    <div class="li_contct_mb">
                        <div class="affitoggle popnewmsg_mb"  data-affitgl="tgl_2">
                            <div class="logo_wb">{{ include('svg/40x40_AFG_rw.html.twig') }}</div>
                            <div class="titl-para-bull">tous</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tglaff w100" id="tgl_2" style="display: none">
            <div class="list_publi">
                <div class="list_publi">
                    {{ include('backoffice/customer/privateconvers/mobile/form/formmsgMber.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>





