<div class="zone-command">
    <a  href="{{ path('board', {'slugcity': website.locality.slugcity ,'slug': website.slug }) }}" class="goaff_v6 _bulle-act">
        <i class="fa fa-link" aria-hidden="true"></i>
        <h3>le panneau</h3>
    </a>
</div>