<div class="cargo-opsace" id="tgl_b" style="display: none">
        <div class="cargobulle" data-cargo="">
            <div class="w100_25 hcargobulle">
                <div class="no-cargo">
                    <h2 style="text-align: center">vous n'êtes pas connecté...</h2>
                    <a href="{{ path('app_login') }}" class="goaff_v6 _bulle-act">Je me connecte</a>
                    <a href="{{ path('new_identify') }}" class="goaff_v6 _bulle-act">J'ouvre un panneau</a>
                </div>
            </div>
        </div>
</div>


