<div class="_in-l-bb2_center mihg130 nav-afdk">
    <a class="bul-go_affi_v5 bull-sz-lit _bl_show" href="{{ path('website_charte') }}">
       {# <i class="fa fa-renren" aria-hidden="true"></i> #}
        <div class=""> nouveau panneau</div>
    </a>
</div>


