<div class="_in-l-bb2_center mihg130 nav-afdk">
    <div class="bul-go_affi_v5 bull-sz-lit _bl_show bulletoggle _bta-act" data-affitgl="tgl_0" id="afftgl">
       {# <i class="fa fa-renren" aria-hidden="true"></i> #}
        <div class=""> Affiche</div>
    </div>
    <div class="bul-go_affi_v5 bull-sz-lit _bl_show bulletoggle" data-affitgl="tgl_1" id="afftgl" aria-label="aide du bouton" data-inf="msg-memberwebsite">
        {# <i class="fa fa-edit" aria-hidden="true"></i> #}
        <div class="">Panneaux</div>
    </div>
</div>



