<div class="pop_rep" style="background-color: #2a5abb">
    {#  <i class="fa fa-times abs-croos"></i> #}
    <div class="ampoul">
        <i class="fa fa-address-book btn-lk lgfa"></i>
    </div>
    <div class="modal_innerpopo">
        <p>Affichez-vous</p>
        <div class="me_ampoul">
             <a href="{{ path('public_new_panneau') }}">c'est gratuit</a>
        </div>
    </div>
</div>