<div class="list-inmob" id="cubcity">
    <div class="pos-incub-i">
        <div class="pos-incub-l">
            <h1 class="tit-cib-lg">{{vartwig.title}}</h1>
            <add-entity author="dispath"></add-entity>
            <div class="pos-incub-l">
                <div class="list-incub" id="bonosucess" style="display: none">
                    {{ form_start(form)}}
                    <div class="gp-form-row-col2">
                        <div class="iner-bt">
                            <button type="submit" id="subform" class="btn-send">J'ouvre ce nouveau panneau</button>
                        </div>
                    </div>
                    {{form_rest(form)}}
                    {{form_end(form)}}
                </div>
            </div>
        </div>
    </div>
</div>
