{% block body %}
    <div class="fx_wb-c">
        {{ include('aff_account/profil/view/'~agent~'/infocustomer.html.twig') }}
    </div>
{%  endblock body %}
{% use('js/js_account.html.twig') %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}