<div class="space-see">
    <a class="nav-see-space" href="{{ path('cargo_public',{'slugcity':city|lower}) }}">
        <div class="nav_bulle_to_go">
            <div class="bul-go_affi_v5 bull-ov _bta-act" id="shwlaff">
                <div class="">voir</div>
            </div>
        </div>
    </a>
    <h1>{{ city??"" }}</h1>
</div>