<div class="head-bull">
    <h3 class="bulletoggle goaff_v6 _bulle-act" data-affitgl="tgl_0"><i class="fa fa-flag" aria-hidden="true"></i> En ce moment</h3>
    <h3 class="bulletoggle goaff_v6" data-affitgl="tgl_1"><i class="fa fa-users"></i> Ils affichent</h3>
    <h3 class="bulletoggle goaff_v6" data-affitgl="tgl_4"><i class="fa fa-map-marker"></i> Localité</h3>

    {#
    <div class="bulletoggle bul-go_affi_v5 bull-sz _bulle-act" data-affitgl="tgl_0">
        <div class="">Les Affiches</div>
    </div>
    <div class="bulletoggle bul-go_affi_v5 bull-sz left_bl" data-affitgl="tgl_1">
        <div class="">Les Panneaux</div>
    </div>
    #}
</div>
