<div class="gnav gnav-reset" id="gnav-footer-container">
    <nav  class="main">
        <ul class="AccordionList AccordionList-items">
            <li class="AccordionList-item">
                <div class="AccordionList-link">
                    <div class="AccordionList-text">{{ vartwig.title }}</div>
                </div>
            </li>
        </ul>
    </nav>
</div>