<div class="web-inf_mob">
       <div class="zone-inf-msg_mob">
        <div class="op-msg">
            <h1>{{ website.namewebsite }}</h1>
            <h2>{{ website.template.description }}</h2>
        </div>
    </div>
</div>