{# zone-header-mob.html.twig #}

    <div class="website-sh" style="background-color: #0a53be">
    </div>

{#
<div class="vagmenu nav-af" id="stripped" data-agent="{{ agent }}">


    <div class="panwh">
    {{ include('svg/'~agent~'/pannewh.html.twig') }}
    </div>
#}
