<div class="_in-l-bb2_center mihg130 nav-afdk">
    <a class="bul-go_affi_v5 bull-sz-lit _bl_two" href="{{ path('update_spacecustomer') }}"><i class="fa fa-edit" aria-hidden="true"></i>
        <div class="">modifier</div>
    </a>
    <a class="bul-go_affi_v5 bull-sz-lit _bl_two" href="{{ path('localize_change')}}"><i class="fa fa-location-arrow" aria-hidden="true"></i>
        <div class="">localisation</div>
    </a>
</div>


