{%  if locate is defined %}
<div class="head-bull_mob">
    <button class="scroll_top bulletoggle b_mob _bulle-act" data-affitgl="tgl_0"><i class="fa fa-flag" aria-hidden="true"></i> En ce moment</button>
    <button class="scroll_top bulletoggle b_mob" data-affitgl="tgl_1"><i class="fa fa-users"></i> Ils affichent</button>
</div>
{% endif %}
