{% block body %}
<section class="_wb-ospace_mob">
{{ include('aff_websiteadmin/food/form/deletecarte.html.twig') }}
</section>
{% endblock %}
{% use "js/js_website.html.twig" %}
{% block javascripts %}
{{ parent() }}
{% endblock %}



