<section class="pageinfo-body">
    <div class="borderblur_bb"></div>
    <div class="filterblur_pg"></div>
    <h1>Participez à la vie de votre localité</h1>
    <h3 class="the_question">panneau d'affichage public en ligne</h3>
    <article class="article_info">

            <div class="infofx">
                <div class="iner-rep">
                    <div class="tit-rep">Le panneau d'affichage local, mettez en avant vos services, proposer, affichez vos annonce et faites passez l'info.</div>

                    {{ include('aff_public/page/toaffiche/pop/go.html.twig') }}
                </div>
                <div class="iner-info">
                    <h5>Aujourd'hui, AffiChange ouvre sa plateforme à tous, pour favoriser l'information et les échanges sur les lieux de vie.</h5>
                    <p>Parceque la dynamique de nos localités, c'est aussi l'échange d'informations.</p>

                    <p class="emaffi">AffiChange, depuis 2013, propose aux commerçants et associations une interface relationnelle sur le web. Notre ADN, valoriser l'activité locale, les circuits courts et la vie associative<strong> tout en préservant la vie privée de chacun.</strong></p>
                    <div class="space-bb">
                    </div>
                </div>
            </div>
        <hr>
        <h2>AffiChange, c'est quoi, comment, combien ?</h2>
        <h3 class="the_question">Des panneaux d'affichage pour tous, par localité.</h3>
        <p>Choisissez une localité et créez votre panneau d'affichage pour y mettre votre information, vos annonces, vos produits. C'est aussi simple qu'un panneau papier, mais en plus dynamique !</p>
        <hr>

        <h3 class="the_question">Publicité, trackeur</h3>
            <p>Ici, pas de publicités intrusives, ni de suivi des visiteurs. La consulatation des affiches est libre comme leur publication, sans partenariat commercial.</p>
            <hr>

            <h3 class="the_question">Votre tranquillité</h3>
            <p>Notre vie privé à besoin d'être préservé. Pas besoins de communiquer vos numero de tel, adresse email, votre panneau est vissible, mais votre identitée ne l'est pas directement. AffiChange vous offre un espace de communication personnel pour naviguer et publier en toute tranquillité.</p>
        <hr>
            <h3>Affichange c'est gratuit ? </h3>
            <p>oui c'est gratuit, mais pas complètement.</p>
            <p>L'utilisation et la creation des panneaux d'affichange sont libre et gratuit totalement. Oui, mais nous avons aussi besoins de ressources pour faire fonctionner tout cela et assurer la pérenité de services.
                Alors il y a des modules payant. </p>
                <h5>Lesquels ? </h5>
            <p>Ces modules sont en général attaché à des actions commerciale. Comme par exemple le module de réservation en ligne, la vente via les "panneaux boutique". Les bulles "promo" aussi ou encore si vous souhaitez mettre un agenda d'évenement périodique, vous paierez également ce service. En payant
                cela nous assure que vous n'oublierez de mettre à jour vos informations ...(quand on paie, on est plus vigileant)</p>

           {#  <p>exemple de tarif :
                <br> une affiche promo 8 jours : à partir de 0.05€ par consultation*.
                <br>Un formulaire de réservation permanent, c'est 0,30€ par réservation.
                * consultation facturé par lecteur
            </p>
        <p>Nos tarfis et nos services évolueront en fonction de vos remarques et demande </p>#}

    <p>vous pouvez en savoir plus sur nos cgu</p>
    </article>
</section>


