<div class="space-see_mob">
    <a class="nav-see-space_mob" href="{{ path('cargo_public',{'slugcity':city|lower}) }}">
        <div class="nav_bulle_to_go_mob">
            <div class="bul-go_affi_v5 bull-ov _bta-act-r" id="shwlaff">
                <i class="fa fa-map-marker"></i>
            </div>
        </div>
    </a>
    <h2>{{ city??"" }}</h2>
</div>