<div class="gnav gnav-reset" id="gnav-footer-container">
    <footer role="contentinfo" class="main" data-gnav-region="MainFooter" data-reactroot="">
        <ul class="AccordionList AccordionList-items">
            <li class="AccordionList-item"><a class="AccordionList-link"
                                              href="https://secure.indeed.com/settings?hl=fr_FR&amp;co=FR&amp;continue=https%3A%2F%2Ffr.indeed.com%2Fm%2F%3Ffrom%3Dgnav-messaging--messaging-webapp&amp;tmpl=mobile&amp;service=my&amp;from=gnav-footer-homepage"
                                              data-gnav-element-name="AccountEmail">
                    <div class="AccordionList-text">despotins@gmail.com</div>
                    <svg class="chevronRight" fill="currentColor" focusable="false" role="img" viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg" height="24px" width="24px"><title>chevron right</title>
                        <path d="M9.888 5.998a.506.506 0 00-.716-.008l-.707.707a.506.506 0 00.01.716L13.06 12l-4.587 4.587c-.2.2-.204.521-.009.716l.707.707a.507.507 0 00.717-.009l5.647-5.648c.1-.1.148-.233.144-.366a.492.492 0 00-.144-.34v-.001a.611.611 0 00-.009-.009L9.888 5.998z"></path>
                    </svg>
                </a></li>
            <li data-gnav-region="FooterJobseekerLinks">
                <div role="button"
                     class="AccordionList-header AccordionList-item AccordionList-headerItem AccordionList-collapsed"
                     tabindex="0" aria-haspopup="true" aria-controls="FooterJobseekerLinks" aria-expanded="false"
                     data-gnav-element-name="FooterJobseekerLinksToggle" data-gnav-action="open">
                    <div class="AccordionList-text">Candidats</div>
                    <span class="AccordionList-actionIcon"><svg class="chevronDown" fill="currentColor"
                                                                focusable="false" role="img" viewBox="0 0 24 24"
                                                                xmlns="http://www.w3.org/2000/svg" height="24px"
                                                                width="24px"><title>chevron down</title><path
                                    d="M18.002 9.888c.2-.2.204-.521.008-.716l-.707-.708a.506.506 0 00-.716.01L12 13.06 7.413 8.474a.507.507 0 00-.716-.01l-.708.707a.507.507 0 00.01.717l5.647 5.648c.1.1.234.148.367.143a.491.491 0 00.34-.144h.001l.008-.008 5.64-5.64z"></path></svg><svg
                                class="chevronUp" fill="currentColor" focusable="false" role="img" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg" height="24px" width="24px"><title>chevron up</title><path
                                    d="M18.003 14.112c.2.2.204.521.008.716l-.707.708a.506.506 0 01-.716-.01l-4.587-4.587-4.587 4.587c-.2.2-.521.205-.716.01l-.708-.707a.507.507 0 01.01-.717l5.647-5.648c.1-.1.234-.148.367-.143.125.002.247.05.34.144h.001a.364.364 0 01.008.008l5.64 5.64z"></path></svg></span>
                </div>
                <ul id="FooterJobseekerLinks" class="AccordionList-items AccordionList-togglableItems">
                    <li class="AccordionList-item"><a class="AccordionList-link"
                                                      href="https://fr.indeed.com/promo/resume"
                                                      data-href="https://fr.indeed.com/promo/resume?from=gnav-footer-homepage"
                                                      data-gnav-element-name="Resume">
                            <div class="AccordionList-text">CV</div>
                        </a></li>
                    <li class="AccordionList-item"><a class="AccordionList-link" href="https://indeed.zendesk.com/hc/fr"
                                                      data-href="https://indeed.zendesk.com/hc/fr?from=gnav-footer-homepage"
                                                      data-gnav-element-name="JobseekerHelpCenter">
                            <div class="AccordionList-text">Support</div>
                        </a></li>
                    <li class="AccordionList-item"><a class="AccordionList-link" href="https://fr.indeed.com/companies"
                                                      data-href="https://fr.indeed.com/companies?from=gnav-footer-homepage&amp;attributionid=homepage"
                                                      data-gnav-element-name="CompanyReviews">
                            <div class="AccordionList-text">Avis sur les entreprises</div>
                        </a></li>
                    <li class="AccordionList-item"><a class="AccordionList-link"
                                                      href="https://fr.indeed.com/conseils-carrieres"
                                                      data-href="https://fr.indeed.com/conseils-carrieres?isid=mob_us-en&amp;ikw=serpfooter&amp;from=gnav-footer-homepage"
                                                      data-gnav-element-name="CareerAdvice">
                            <div class="AccordionList-text">Guide Carrières</div>
                        </a></li>
                    <li class="AccordionList-item"><a class="AccordionList-link" href="https://www.indeed.jobs"
                                                      data-href="https://www.indeed.jobs?from=gnav-footer-homepage"
                                                      data-gnav-element-name="WorkAtIndeed">
                            <div class="AccordionList-text">Travailler chez Indeed</div>
                        </a></li>
                    <li class="AccordionList-item"><a class="AccordionList-link" href="https://fr.indeed.com/browsejobs"
                                                      data-href="https://fr.indeed.com/browsejobs?from=gnav-footer-homepage"
                                                      data-gnav-element-name="BrowseJobs">
                            <div class="AccordionList-text">Parcourir les emplois</div>
                        </a></li>
                </ul>
            </li>
            <li data-gnav-region="FooterEmployersLinks">
                <div role="button"
                     class="AccordionList-header AccordionList-item AccordionList-headerItem AccordionList-collapsed"
                     tabindex="0" aria-haspopup="true" aria-controls="FooterEmployersLinks" aria-expanded="false"
                     data-gnav-element-name="FooterEmployersLinksToggle" data-gnav-action="open">
                    <div class="AccordionList-text">Entreprises</div>
                    <span class="AccordionList-actionIcon"><svg class="chevronDown" fill="currentColor"
                                                                focusable="false" role="img" viewBox="0 0 24 24"
                                                                xmlns="http://www.w3.org/2000/svg" height="24px"
                                                                width="24px"><title>chevron down</title><path
                                    d="M18.002 9.888c.2-.2.204-.521.008-.716l-.707-.708a.506.506 0 00-.716.01L12 13.06 7.413 8.474a.507.507 0 00-.716-.01l-.708.707a.507.507 0 00.01.717l5.647 5.648c.1.1.234.148.367.143a.491.491 0 00.34-.144h.001l.008-.008 5.64-5.64z"></path></svg><svg
                                class="chevronUp" fill="currentColor" focusable="false" role="img" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg" height="24px" width="24px"><title>chevron up</title><path
                                    d="M18.003 14.112c.2.2.204.521.008.716l-.707.708a.506.506 0 01-.716-.01l-4.587-4.587-4.587 4.587c-.2.2-.521.205-.716.01l-.708-.707a.507.507 0 01.01-.717l5.647-5.648c.1-.1.234-.148.367-.143.125.002.247.05.34.144h.001a.364.364 0 01.008.008l5.64 5.64z"></path></svg></span>
                </div>
                <ul id="FooterEmployersLinks" class="AccordionList-items AccordionList-togglableItems">
                    <li class="AccordionList-item"><a class="AccordionList-link" href="https://fr.indeed.com/hire"
                                                      data-href="https://fr.indeed.com/hire?from=gnav-footer-homepage&amp;hl=fr&amp;co=FR"
                                                      data-gnav-element-name="PostAJob">
                            <div class="AccordionList-text">Publier une annonce</div>
                        </a></li>
                    <li class="AccordionList-item"><a class="AccordionList-link"
                                                      href="https://indeedemployers.zendesk.com/hc/fr"
                                                      data-href="https://indeedemployers.zendesk.com/hc/fr?from=gnav-footer-homepage"
                                                      data-gnav-element-name="EmployerHelpCenter">
                            <div class="AccordionList-text">Support</div>
                        </a></li>
                    <li class="AccordionList-item"><a class="AccordionList-link"
                                                      href="https://www.indeedevents.com/fr-fr"
                                                      data-href="https://www.indeedevents.com/fr-fr?from=gnav-footer-homepage"
                                                      data-gnav-element-name="IndeedEvents">
                            <div class="AccordionList-text">Indeed Events</div>
                        </a></li>
                </ul>
            </li>
            <li data-gnav-region="FooterAboutLinks">
                <div role="button"
                     class="AccordionList-header AccordionList-item AccordionList-headerItem AccordionList-collapsed"
                     tabindex="0" aria-haspopup="true" aria-controls="FooterAboutLinks" aria-expanded="false"
                     data-gnav-element-name="FooterAboutLinksToggle" data-gnav-action="open">
                    <div class="AccordionList-text">À propos</div>
                    <span class="AccordionList-actionIcon"><svg class="chevronDown" fill="currentColor"
                                                                focusable="false" role="img" viewBox="0 0 24 24"
                                                                xmlns="http://www.w3.org/2000/svg" height="24px"
                                                                width="24px"><title>chevron down</title><path
                                    d="M18.002 9.888c.2-.2.204-.521.008-.716l-.707-.708a.506.506 0 00-.716.01L12 13.06 7.413 8.474a.507.507 0 00-.716-.01l-.708.707a.507.507 0 00.01.717l5.647 5.648c.1.1.234.148.367.143a.491.491 0 00.34-.144h.001l.008-.008 5.64-5.64z"></path></svg><svg
                                class="chevronUp" fill="currentColor" focusable="false" role="img" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg" height="24px" width="24px"><title>chevron up</title><path
                                    d="M18.003 14.112c.2.2.204.521.008.716l-.707.708a.506.506 0 01-.716-.01l-4.587-4.587-4.587 4.587c-.2.2-.521.205-.716.01l-.708-.707a.507.507 0 01.01-.717l5.647-5.648c.1-.1.234-.148.367-.143.125.002.247.05.34.144h.001a.364.364 0 01.008.008l5.64 5.64z"></path></svg></span>
                </div>
                <ul id="FooterAboutLinks" class="AccordionList-items AccordionList-togglableItems">
                    <li class="AccordionList-item"><a class="AccordionList-link" href="https://fr.indeed.com/about"
                                                      data-href="https://fr.indeed.com/about?from=gnav-footer-homepage"
                                                      data-gnav-element-name="About">
                            <div class="AccordionList-text">À propos</div>
                        </a></li>
                </ul>
            </li>
        </ul>
        <div class="legal-wrapper">
            <div class="legal-footer"><span class="legal-footer--item">©2021 Indeed</span>
                <ul class="legal-footer-links">
                    <li><a href="https://fr.indeed.com/accessibility?hl=fr"
                           data-query="?hl=fr&amp;from=gnav-footer-homepage" data-gnav-element-name="Accessibility">Accessibilité
                            sur Indeed</a></li>
                    <li><a href="https://hrtechprivacy.com/fr" data-query="?from=gnav-footer-homepage"
                           data-gnav-element-name="PrivacyCenter">Centre de confidentialité</a></li>
                    <li><a href="https://hrtechprivacy.com/fr/brands/about-indeed#Cookies"
                           data-query="?from=gnav-footer-homepage" data-gnav-element-name="Cookies">Cookies</a></li>
                    <li><a href="https://hrtechprivacy.com/fr/brands/about-indeed#privacypolicy"
                           data-query="?from=gnav-footer-homepage" data-gnav-element-name="Privacy">Confidentialité</a>
                    </li>
                    <li><a href="https://fr.indeed.com/legal?hl=fr" data-query="&amp;from=gnav-footer-homepage"
                           data-gnav-element-name="Terms">Conditions d'utilisation</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>