<nav class="bandcustomer_mob" id="popuser">
    <div class="inner-bandcusto_mob">

        <div class="banner-stap_mob">
            <div class="button-wp">
                <a class="pop_button" href="{{path('app_login') }}">Connexion
                    <i class="fa fa-power-off"></i>
                </a>
            </div>

            <a class="button-wp" href="{{path('new_identify')}}">
                <button class="pop_button">J'ouvre un compte
                    <i class="fa fa-info-circle"></i>
                </button>
            </a>
        </div>
    </div>
</nav>







