<nav class="account_mob bg_aff" id="popuser">
    <div class="inner-account_mob">
        <div class="inner-stap1">
            <a class="modules_bt_mob" href="{{path('app_login') }}"><i class="fa fa-power-off" aria-hidden="true"></i> Connexion</a>
            <a class="modules_bt_mob" href="{{path('new_identify')}}"><i class="fa fa-info-circle" aria-hidden="true"></i>Pas encore de compte, inscrez-vous, c'est gratuit</a>
            <a class="start-bd_mob" href="{{ path('cargo_public')}}"><h5>AffiChanGe</h5></a>
        </div>
    </div>
</nav>

