{% block body %}
    <div class="_wb">
        <div class="container-bo_v5">
            {{ include('aff_customer/menu/'~agent~'/websitemenu.html.twig') }}
            <section class="_wb-ospace">
                <div class="regester-bk">
                        {{ include('aff_websiteadmin/'~directory~'/form/addarticleformule.html.twig') }}
                </div>
            </section>
        </div>
    </div>
{% endblock body%}
{% use "js/js_newcarte.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
