<div class="centered-fil_mob">
    <h2>Sponsorisez des panneaux</h2>
    <h5>Soutenez une équipe, un projet, développez des actions communes avec d'autres panneaux</h5>
    <x-partner class="w100" name="no" board="{{board.id}}"></x-partner>
</div>