<div class="cube-bd">
        <div class="c_i_b">
            <div class="in_cib">
               {#  <x-website class="w100" name="no" board="{{board.id}}"></x-website> #}
            <div class="in-cib-lrg-tit">
             {#   <h3 class="tit-cib-lg">Vous soutenez :</h3> #}
                {{ include('aff_customer/board/view/partnersofboard_mob.html.twig') }}
            </div>

            </div>
        </div>

</div>