<a class="_pic-website" title="panneau info de {{ board.namewebsite }}" href="{{ path('show_website', {"city":board.locality.slugcity,"nameboard":board.slug }) }}">
    {% if board.template.logo.namefile is defined %}
        {%  set pict = asset('spaceweb/template/'~board.template.logo.namefile ) %}
    {%  else %}
        {%  set pict = asset('img/pinsaffi.png') %}
    {%  endif %}
    <div class="web-inf af_flx-nW">
        <div class="bull-website" style="background-image: url({{ pict }})"></div>
        <h1>{{ board.namewebsite }}</h1>
    </div>
</a>